.navbar-section{
    background-color: white;
    color: black;
    /* height: 60px; */
    display: flex;
    margin-bottom: 15px;
}

.navbar-section .brand{
    margin: 10px 80px;
}

.navbar-section .navlinks{
    display: flex;
    justify-items: space-between;
    align-items: center;
    margin: 10px;
    
}

.navlinks a{
    text-decoration: none;
    color: rgb(89, 89, 89);
    margin: 0 20px;
    border-radius: 20px;
    width: auto;
    height: 40px;
    padding: 10px;
}

.navlinks a:hover{
    color: gray;
    background-color: rgb(168, 222, 215);
    border-radius: 20px;
    width: auto;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -50px;
    color: rgb(238, 30, 30);
}

.content-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-image: url('./img.png');
    background-position: center;
    background-size: cover;
}

.content{
    width: 500px;
    border-radius: 40px;
    padding: 20px;
    margin-top: 70px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    
}

.content:hover{
    background-color: rgb(227, 239, 238);
    opacity: 0.8;
    /* box-shadow: silver 5px 5px 5px; */
}

.content .content-header{
    text-align: center;
    font-family: 'Popins', sans-serif;
    color: #ff7301;
}

.content .content-body{
    text-align: center;
    font-family: 'Popins', sans-serif;
    color: rgb(244, 183, 1);
    font-size: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #0b5cf1;
}