.navbar-section{
    background-color: white;
    color: black;
    height: 60px;
    display: flex;
}

.navbar-section .brand{
    margin: 10px 80px;
}

.navbar-section .navlinks{
    display: flex;
    align-items: center;
    margin: 10px;
     
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 8px;
}

.brandName{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 550;
    color: black;
    margin-top: 10px;
}

.navlinks a{
    text-decoration: none;
    color: rgb(89, 89, 89);
    margin: 0 20px;
    border-radius: 20px;
    width: auto;
    height: 40px;
    padding: 10px;
}

.navlinks a:hover{
    color: gray;
    background-color: rgb(168, 222, 215);
    border-radius: 20px;
    width: auto;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-section .search-form{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.search-form .search-input{
    border-radius: 20px;
    border: green solid 2px;
    padding: 10px;
    color: black;
    outline: none;
}

.logout-button{
    border-radius: 20px;
    background-color: white;
    color: brown;
    margin-top: 10px;
    padding: 10px;
    width: auto;
    height: 40px;
    border: brown solid 2px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button:hover{
    background-color: brown;
    color: white;
    border-radius: 20px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: chocolate;
}

.dashboard-section{
    margin: 20px;
    height: 100%;
    /* background-color: salmon; */
}

.new-button{
    position: absolute;
    right: 20px;
    margin-right: 40px;
    padding: 10px;
    width: auto;
    height: 40px;
    border: green solid 2px;
    border-radius: 20px;
    background-color: white;
    color: green;
    font-size: large;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.new-button:hover{
    background-color: green;
    color: white;
    border-radius: 20px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.debtTable{ 
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tableHeader{
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.debtTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    height: 50px;
}

.debtTable tbody tr:nth-child(odd) {
    background-color: #c9c8c8;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    height: 50px;
}
